<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>

  <div class="w3-container w3-row">
    <div class="w3-col s4">
      <img src="https://n6-img-fp.akamaized.net/free-icon/profile-user_318-80283.jpg?size=338c&ext=jpg" class="img-fluid w-75 py-auto my-auto" class="w3-circle w3-margin-right" style="width:46px">
    </div>
    <div class="w3-col s8 w3-bar">
    
      <span><strong>Welcome</strong> {{User.username}}</span><br>
   
    </div>
  </div>
  <hr>
  <div class="w3-container">
  </div>
  <div class="w3-bar-block">
    <a href="/profile" class="w3-bar-item w3-button w3-padding ">Personal Information</a>
    <a href="/profile/lendencred" class="w3-bar-item w3-button w3-padding ">Lenden Credits </a>
    <a href="/profile/prodlent" class="w3-bar-item w3-button w3-padding ">Products Lent</a>
    <a href="/profile/prodborrowed" class="w3-bar-item w3-button w3-padding ">Products Borrowed</a>
    <a href="/profile/wishlist" class="w3-bar-item w3-button w3-padding ">Product Wishlist</a>
    {{!-- <a href="" class="w3-bar-item w3-button w3-padding ">Upload Item</a> --}}
    <a href="/profile/addressChange" class="w3-bar-item w3-button w3-padding ">Address</a>
    <a href="/profile/giftcards" class="w3-bar-item w3-button w3-padding ">Gift Cards </a><br><br>
  </div>
</nav>
