	<div class=" container top-buffer">
		<section class="mytext " style="text-align:center ">
		<div class=" containers b0b full bg-dark">
				<img class="  opacity" height="570px" src="/static/Team.jpg" alt="Norway" style="width:100%;">

				<div class="centered "><h1 ><b>MEET OUR TEAM</h1><p><h2>We enable Lending and Borrowing at affordable prices.</h2></p></b></div>
			</div>



		</section>
		<div class = "row">
			<div class="row">
				<div class="col-lg-3 ">
					<div class="img-responsive img-circle">
						<a href="https://www.linkedin.com/in/shubham-agarwal-504ab3113/" target="_blank">
							<img class="center-block" src="Shubham.jpg" alt="Loading..." style="width:50%">
							<div class=" caption mytext">
								<p class="text-center"><font color="#000000"><b>Shubham Agarwal</b><br>Scrum Master</p></font>
							</div>
						</a>
					</div>
				</div>
				<div class="col-lg-3 ">
					<div class="img-responsive img-circle">
						<a href="https://www.linkedin.com/in/preeti-sethi-7a5824120/" target="_blank">
							<img class="center-block" src="preeti.jpg" alt="Loading..." style="width:50%">
							<div class="caption">
								<p class="text-center"><font color="#000000"><b>Preeti Sethi</b><br>Project Lead<br>Back-End Engineer</p></font>
							</div>
						</a>
					</div>
				</div>
				<div class="col-lg-3 ">
					<div class="img-responsive thumbnail ">
						<a href="linkedin.com/in/navya-dahiya-a13087118/" target="_blank">
							<img class="center-block" src="2.jpg" alt="Loading..." style="width:50%">
							<div class="caption">
								<p class="text-center"><font color="#000000"><b>Navya Dahiya</b><br>Product Owner<br>Front-End Engineer</p></font>
							</div>
						</a>
					</div>
				</div>
				<div class="col-lg-3 ">
					<div class="img-responsive thumbnail ">
						<a href="https://www.linkedin.com/in/sanjana-gautam-024257124/" target="_blank">
							<img class="center-block" src="Sanjana.jpg" alt="Loading..." style="width:50%">
							<div class="caption">
								<p class="text-center"><font color="#000000"><b>Sanjana Gautam</b><br>Testing Lead<br>Front-End Engineer</p></font>
							</div>
						</a>
					</div>
				</div>
				<div class="col-lg-3 ">
					<div class="center-block thumbnail ">
						<a href="https://www.linkedin.com/in/sukriti-poddar-95b1a4114/" target="_blank">
							<img class="center-block" src="Sukku.jpg" alt="Loading..." style="width:50%">
							<div class="caption">
								<p class="text-center"><font color="#000000"><b>Sukriti Poddar</b><br>DBA <br>Back-End Engineer</p></font>
							</div>
						</a>
					</div>
				</div>
				<div class="col-lg-3 ">
					<div class="center-block thumbnail ">
						<a href="https://www.linkedin.com/in/aditya-badola/" target="_blank">
							<img class="center-block" src="aditya.jpg" alt="Loading..." style="width:50%">
							<div class="caption">
								<p class="text-center"><font color="#000000"><b>Aditya Badola</b><br>Back-End Lead<br>Data Analyst </p></font>
							</div>
						</a>
					</div>
				</div>
				<div class="col-lg-3 ">
					<div class=" center-block thumbnail ">
						<a href="https://www.linkedin.com/in/rithika-lakshminarayanan-5419b9135/" target="_blank">
							<img class="center-block" src="ritz.jpg" alt="Loading..." style="width:50%">
							<div class="caption">
								<p class="text-center"><font color="#000000"><b>Rithika</b><br>Front-End Lead</p></font>
							</div>
						</a>
					</div>
				</div>
				<div class="col-lg-3 ">
					<div class="center-block thumbnail ">
						<a href="https://www.linkedin.com/in/prabha-mishra-71055a136/" target="_blank">
							<img class="center-block" src="Prabha.jpg" alt="Loading..." style="width:50%">
							<div class="caption">
								<p class="text-center"><font color="#000000"><b>Prabha Mishra</b><br>Front-End Engineer</p></font>
							</div>
						</a>
					</div>
				</div>

				<div class="col-lg-3 ">
					<div class="img-responsive img-circle">
						<a href="https://www.linkedin.com/in/arush-kharbanda-625b9615a/" target="_blank">
							<img class="center-block" src="arush.jpg" alt="Loading..." style="width:50%">
							<div class="caption">
								<p class="text-center" ><font color="#000000"><b>Arush Kharbanda</b><br>Developer</p></font>>
							</div>
						</a>
					</div>
				</div>
			</div>
