<div class="container top-buffer">
		<div class ="row">
  <div class="row">
  <div class="col-lg-3 ">
    <div class="img-responsive img-circle">
      <a href="#">
        <img class="center-block" src="/assets/Shubham.jpg" alt="Loading..." style="width:50%">
        <div class="caption mytext">
          <p class="text-center" style="color:black"><b>Shubham Agarwal</b><br>Scrum Master</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-3 ">
    <div class="img-responsive img-circle">
      <a href="#">
        <img class="center-block" src="/assets/preeti.jpg" alt="Loading..." style="width:50%">
        <div class="caption">
          <p class="text-center" style="color:black"><b>Preeti Sethi</b><br>Project Lead<br>Back-End Engineer</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-3 ">
    <div class="img-responsive thumbnail">
      <a href="#">
        <img class="center-block" src="/assets/2.jpg" alt="Loading..." style="width:50%">
        <div class="caption">
          <p class="text-center" style="color:black"><b>Navya Dahiya</b><br>Product Owner<br>Front-End Engineer</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-3 ">
    <div class="img-responsive thumbnail ">
      <a href="#">
        <img class="center-block" src="/assets/Sanjana.jpg" alt="Loading..." style="width:50%">
        <div class="caption">
          <p class="text-center" style="color:black"><b>Sanjana Gautam</b><br>Testing Lead<br>Front-End Engineer</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-3 ">
    <div class="center-block thumbnail ">
      <a href="#">
        <img class="center-block" src="/assets/Sukku.jpg" alt="Loading..." style="width:50%">
        <div class="caption">
          <p class="text-center" style="color:black"><b>Sukriti Poddar</b><br>DBA <br>Back-End Engineer</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-3 ">
    <div class="center-block thumbnail ">
      <a href="#">
        <img class="center-block" src="/assets/aditya.jpg" alt="Loading..." style="width:50%">
        <div class="caption">
          <p class="text-center" style="color:black"><b>Aditya Badola</b><br>Back-End Lead<br>Data Analyst </p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-3 ">
    <div class=" center-block thumbnail ">
      <a href="#">
        <img class="center-block" src="/assets/ritz.jpg" alt="Loading..." style="width:50%">
        <div class="caption">
          <p class="text-center" style="color:black"><b>Rithika</b><br>Front-End Lead</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-3 ">
    <div class="center-block thumbnail ">
      <a href="#">
        <img class="center-block" src="/assets/Prabha.jpg" alt="Loading..." style="width:50%">
        <div class="caption">
          <p class="text-center" style="color:black"><b>Prabha Mishra</b><br>Front-End Engineer</p>
        </div>
      </a>
    </div>
  </div>

  <div class="col-lg-3 ">
    <div class="img-responsive img-circle">
      <a href="#">
        <img class="center-block" src="/assets/2.jpg" alt="Loading..." style="width:50%">
        <div class="caption">
          <p class="text-center" style="color:black"><b>Arush Kharbanda</b><br>Developer</p>
        </div>
      </a>
    </div>
  </div>
</div>
</div>
</div>