{{#if authenticated}}
<center><h1>Authenticated user!</h1></center>
{{else}}
<br><br>
<center><h1>Not authenticated!</h1></center>
<center><h4>Please Sign-up if you are a new user or Sign-in to continue.</h4></center>
<center><h2>............................................................</h2></center>

{{/if}}
