
    <h2>Add a Product:- </h2>
    <form action="/add" method="post">
        <label for="Product_id">Product Id:- </label>
        <input type="text" name="Product_id" id="Product_id"><br>
        <label for="Cat_id">Category Id:- </label>
        <input type="text" name="Cat_id" id="Cat_id"><br>
        <label for="Subcat_id">Subcategory Id:- </label>
        <input type="text" name="Subcat_id" id="Subcat_id"><br>
        <label for="ProductName">Product Name:-  </label>
        <input type="text" name="ProductName" id="ProductName"><br>
        <label for="ProductImage">ProductImage:- </label>
        <input type="text" name="ProductImage" id="ProductImage"><br>
        <label for="Price">Price :- </label>
        <input type="text" name="Price" id="Price"><br>
        <label for="Description">Description of the product :- </label>
        <input type="text" name="Description" id="Description"><br>
        <label for="User_id">User Id:- </label>
        <input type="text" name="User_id" id="User_id"><br>
        <input type="submit" name="submit">
    </form>
