<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>Add a Product:- </h2>
    <form action="/Parameters/add" method="post">
        <label for="Parameter_Id">Parameter Id:- </label>
        <input type="text" name="Parameter_Id" id="Parameter_Id"><br>
        <label for="ParaName">Parameter name:- </label>
        <input type="text" name="ParaName" id="ParaName"><br>
        <label for="ApplicableSubcat">Applicable Subcategories:- </label>
        <input type="text" name="ApplicableSubcat" id="ApplicableSubcat"><br>
        <input type="submit" name="submit">
    </form>
</body>
</html>
