<h2>Add a Product:- </h2>
<form action="/Product/add" method="post">
    <label for="Product_id">Product Id:- </label>
    <input type="text" name="Product_id" id="Product_id"><br>
    <label for="User_id">User Id:- </label>
    <input type="text" name="User_id" id="User_id"><br>
    <label for="Quality_id">Quality id:-  </label>
    <input type="text" name="Quality_id" id="Quality_id"><br>
    <label for="Quality_before">Quality After:-  </label>
    <input type="text" name="Quality_before" id="Quality_before"><br>
    <label for="Quality_after">Quality before:-  </label>
    <input type="text" name="Quality_after" id="Quality_after"><br>
    <input type="submit" name="submit">
</form>
