<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>Add Subcategory:- </h2>
    <form action="/add" method="post">
        <label for="Subcat_id">Id:- </label>
        <input type="text" name="Subcat_id" id="Subcat_id"><br>
        <label for="SubcategoryName">Subcategory Name:-  </label>
        <input type="text" name="SubcategoryName" id="SubcategoryName"><br>
        <label for="Cat_id">Category Id :- </label>
        <input type="text" name="Cat_id" id="Cat_id"><br>
        <label for="Quality_id">Quality Id :- </label>
        <input type="text" name="Quality_id" id="Quality_id"><br>
        <input type="submit" name="submit">
    </form>
</body>
</html>
