<!DOCTYPE html>
<html>
<head>
	<title>Products Lent</title>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="admin_dashboard.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
<script src="script.js"></script>
</head>
<body>
	<div class="container-fluid main">
		<div class="card my-2 col-10 border-info">
			<!-- <div class="card-header">
				Featured
			</div> -->
			<div class="card-body row">
				<div class="col-3">
					<img src="book.jpg" class="img-fluid w-75 py-auto my-auto">
				</div>
				<div class="col-9 my-auto">
					<h5 class="card-title">Product Name</h5>
					<p class="card-text">Price: Rs. 500</p>
					<p class="card-text">Lent On: 24th April, 2018</p>
					
					
				</div>
			</div>
		</div>
</body>
</html>