<!DOCTYPE html>
<html lang="en">
<head>
	<title>Contact Us</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="contactus.css">

</head>
<body>


	<div class="container-contact100">

		<div class="wrap-contact100">

			<form class="contact100-form validate-form" action="/contactfromthismail" method="POST">

				<span class="contact100-form-title">
					Contact Us: {{status}}
				</span>

				<div class="wrap-input100 validate-input" >
					<input class="input100" type="text" name="name" placeholder="Full Name" required="">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" >
					<input class="input100" type="text" name="email" placeholder="Email" required="">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input">
					<textarea class="input100" name="message" placeholder="Your Message" required=""></textarea>
					<span class="focus-input100"></span>
				</div>

				<div class="container-contact100-form-btn">
					<button class="contact100-form-btn" type="submit">
						Send Email
					</button>
				</div>

			</form>


			<div class="contact100-more">
				Contact us at Lenden: <span class="contact100-more-highlight">+91 7355322086</span>
			</div>
		</div>
	</div>



</body>
</html>
