<html>
<head>
<title>Node.JS Email application</title>

</head>
<body>

<form action="/email/send" method="post">
  <input type="email" name="user"><br>
<input type="submit" name="send email">
  </form>

</body>
</html>
