
<div class="w3-main " style="margin-left:300px;">
  <header class="w3-container" style="padding-top:22px">
    <h5><b> Gift Cards </b></h5>
  </header>
  <div class="w3-row-padding w3-margin-bottom">
    <div class="carousel js-flickity">
      <!-- images from unsplash.com -->
      <div class="carousel-cell">
      <a href="#" data-toggle="modal" data-target="#myModal">
        <img name = "src1" src="http://assets.myntassets.com/assets/images/2017/5/3/11493788297416-125552-iqv7e6.png" alt="orange tree"  />
      </a>

      </div>
      <div class="carousel-cell">
        <img src="https://assets.myntassets.com/v1/assets/images/2017/5/2/11493709482932-22011-1u8zek7.jpg" alt="submerged" />
      </div>
      <div class="carousel-cell">
        <img src="https://assets.myntassets.com/v1/assets/images/2017/10/5/11507197280281-120219-1m3ozek.jpg" alt="look-out" />
      </div>
      <div class="carousel-cell">
        <img src="https://assets.myntassets.com/v1/assets/images/2017/6/21/11498054227328-175732-1rprvy0.jpg" alt="One World Trade" />
      </div>
      <div class="carousel-cell">
        <img src="https://assets.myntassets.com/v1/assets/images/2017/6/21/11498054283060-97389-1xlr53p.jpg" alt="One World Trade" />
      </div>
      <div class="carousel-cell">
        <img src="https://assets.myntassets.com/v1/assets/images/2017/5/2/11493709532459-114221-14wogn3.jpg" alt="One World Trade" />
      </div>
    </div>
      <script src='https://npmcdn.com/flickity@2/dist/flickity.pkgd.js'></script>

  </div>
   <p><br> SEND WISHES TO YOUR LOVED ONES.<br>Express your love by sending these exciting Gift Cards only at LenDen.</p>
</div>

<div class="modal fade" id="myModal" role="dialog" >
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
<h4 class="modal-title">Enter the email ID of your loved one</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
      </div>
      <div class="modal-body">

    <form class="form-gifts" action="/giftfromthismail" method="post">
      <label for="inputEmail" class="sr-only">Email address</label>
      <input name = "email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus><br>
      <button class="btn btn-lg btn-primary btn-block" type="submit">SEND</button>
    </form>
  </div>
<div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
