<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p>{{items}}</p>
    <form action="/addCategory" method="post">
        <input type="text" name="Cat_id" id="Cat_id">
        <input type="text" name="CategoryName" id="CategoryName">
        <input type="text" name="Subcategories" id="Subcategories">
        <input type="text" name="CategoryImage" id="CategoryImage">
        <input type="submit" name="submit">
    </form>
</body>
</html>