
<center><h1>Select a Payment Method</h1></center>
<div class="row">
    <div class="col-lg-1"></div>
<div class="col-lg-10 col-xs-12 card payment-methods">
  <div class="card-body">
    <div class="radio">
      <label><input type="radio" name="optradio">Credit Card</label>
      <p>
        <a href="http://www.credit-card-logos.com/"><img alt="Credit Cards" title="Credit Card Logos" src="http://www.credit-card-logos.com/images/visa_credit-card-logos/visa_mastercard_2.gif" width="116" height="35" border="0" /></a>
      </p>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio">Debit Card</label>
    </div>
    <div class="dropdown">
      <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown">
        Choose an Option
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">All Visa/MasterCard Debit Cards</a>
        <a class="dropdown-item" href="#">All Rupay Debit Cards</a>
        <a class="dropdown-item" href="#">All SBI Maestro Debit Cards</a>
      </div>
    </div>
    <p>
      <div class="radio">
        <label><input type="radio" name="optradio">Netbanking</label>
      </div>
      <div class="dropdown">
        <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown">
          Choose an Option
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">HDFC</a>
          <a class="dropdown-item" href="#">ICICI</a>
          <a class="dropdown-item" href="#">SBI</a>
        </div>
      </div>
    </p>
    <p>
      <button type="button" class="btn btn-success pull-right"><b>Place Order and Pay</b></button>
    </p>
  </div>
</div>
</div>
