
<body>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>

  <div class="w3-container w3-row">
    <div class="w3-col s4">
      <img src="https://n6-img-fp.akamaized.net/free-icon/profile-user_318-80283.jpg?size=338c&ext=jpg" class="img-fluid w-75 py-auto my-auto" class="w3-circle w3-margin-right" style="width:46px">
    </div>
    <div class="w3-col s8 w3-bar">
    
      <span><strong>Welcome</strong> User</span><br>
   
    </div>
  </div>
  <hr>
  <div class="w3-container">
    <h5>My Profile</h5>
  </div>
  <div class="w3-bar-block">
  
    <a href="#" class="w3-bar-item w3-button w3-padding ">Personal Information</a>
    <a href="#" class="w3-bar-item w3-button w3-padding ">Lenden Credits </a>
    <a href="productslent.html#" class="w3-bar-item w3-button w3-padding ">Products Lent</a>
    <a href="productsborrowed.html" class="w3-bar-item w3-button w3-padding ">Products Borrowed</a>
    <a href="#" class="w3-bar-item w3-button w3-padding ">Product Wishlist</a>
    <a href="lenden_up.html" class="w3-bar-item w3-button w3-padding ">Upload Item</a>
    <a href="personalinfo.html" class="w3-bar-item w3-button w3-padding ">Address</a>
    <a href="#" class="w3-bar-item w3-button w3-padding ">Gift Cards </a><br><br>
 
  </div>
</nav>

<div class="w3-main" style="margin-left:300px;">

  
  <header class="w3-container" style="padding-top:22px">
    <h5><b> Personal Information </b></h5>
  </header>
  <div class="w3-row-padding w3-margin-bottom">
    <div class="w3-quarter">
      <div class="w3-container w3-padding-16">
        <form>
         <h6>Name:<br></h6>
         <p rows="1" cols="30" name="firstname" value=""></p><br><br>
         <h6>Email address:<br></h6>
         <p rows="1" cols="30" name="Email Address" value=""></p><br><br>
         <h6>Contact Detail:<br></h6>
         <p rows="1" cols="30" name="contact details" value=""></p><br><br>
         <h6>Shipping Address:</h6>
         <p rows="5" cols="50" name="address" value=""></p><br><br>
         <h6>Billing Address:</h6>
         <p rows="5" cols="50" name="address" value=""></p><br><br>
         <input type="reset" >
        </form>
      </div>
    </div>
  </div>
</div>



</body>
