
<div class="w3-main" style="margin-left:300px;">

  
  <header class="w3-container" style="padding-top:22px">
    <h5><b> Personal Information </b></h5>
  </header>
  <div class="w3-row-padding w3-margin-bottom">
    <div class="w3-quarter">
      <div class="w3-container w3-padding-16">
        {{!-- <form> --}}
         <h3>Name:<br></h3>
         <p rows="1" cols="30" name="firstname" value="">{{User.username}}</p><br>
         <h3>Email address:<br></h3>
         <p rows="1" cols="30" name="Email Address" value="">{{User.email}}</p><br>
         <h3>Contact Detail:<br></h3>
         <p rows="1" cols="30" name="contact details" value="">{{User.mobile_no}}</p><br>
         <h3>Shipping Address:</h3>
         <p rows="5" cols="50" name="address" value="">{{User.address}}</p><br>
        <a href="/profile/addressChange"> <button class="btn btn-success"  type="submit" >Edit Address</button></a>
        {{!-- </form> --}}
      </div>
    </div>
  </div>
</div>


