
<body>
	

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>

  <div class="w3-container w3-row">
    <div class="w3-col s4">
      <img src="https://n6-img-fp.akamaized.net/free-icon/profile-user_318-80283.jpg?size=338c&ext=jpg" class="img-fluid w-75 py-auto my-auto" class="w3-circle w3-margin-right" style="width:46px">
    </div>
    <div class="w3-col s8 w3-bar">
    
      <span><strong>Welcome</strong> User</span><br>
   
    </div>
  </div>
  <hr>
  <div class="w3-container">
    <h5>My Profile</h5>
  </div>
  <div class="w3-bar-block">
  
    <a href="personalinfo.html#" class="w3-bar-item w3-button w3-padding ">Personal Information</a>
    <a href="#" class="w3-bar-item w3-button w3-padding ">Lenden Credits </a>
    <a href="productslent.html" class="w3-bar-item w3-button w3-padding ">Products Lent</a>
    <a href="" class="w3-bar-item w3-button w3-padding ">Products Borrowed</a>
    <a href="#" class="w3-bar-item w3-button w3-padding ">Product Wishlist</a>
    <a href="lenden_up.html" class="w3-bar-item w3-button w3-padding ">Upload Item</a>
    <a href="personalinfo.html" class="w3-bar-item w3-button w3-padding ">Address</a>
    <a href="#" class="w3-bar-item w3-button w3-padding ">Gift Cards </a><br><br>
 
  </div>
</nav>
<div class="w3-main" style="margin-left:300px;">
 <header class="w3-container" style="padding-top:22px">
    <h5 style=" font-style: "><b> Products Borrowed </b></h5>
  </header>
  <div class="w3-row-padding w3-margin-bottom">
    
      <div class="w3-container w3-padding-16">
        <div class="row">
          
            <div class="p1 col-sm-2 b0b">
              <img src="https://rukminim1.flixcart.com/image/832/832/backpack/g/y/d/07171203-puma-backpack-echo-plus-original-imae8jq7fuxzdmeq.jpeg?q=70" width="300" height="200"> 
            </div>
            <div class="mycart col-sm-10 b0b">
              <strong>Product Name</strong> : Puma Backpack<br>
              <strong>Cost</strong> : Rs. 600<br>
              <strong>Quantity</strong> : 1<br>
            </div>
          
          <div class="p1 col-sm-2 b0b">
            <img src ="tshirt.jpg" width ="300" height="200">
          </div>
          <div class="mycart col-sm-10 b0b">
            <strong>Product Name</strong> : Puma T-shirt For Men<br>
            <strong>Cost</strong> : Rs. 599<br>
            <strong>Quantity</strong> : 1<br>
          </div>

         <div class="p1 col-sm-2 b0b">
            <img src ="book.jpg" width ="300" height="200">
          </div>
          <div class="mycart col-sm-10 b0b">
            <strong>Product Name</strong> :Advanced Engineering Mathematics, Kreyszig, 10 E. <br>
            <strong>Cost</strong> : Rs.400<br>
            <strong>Quantity</strong> : 1<br>
          </div> 
          <div class="p1 col-sm-2 b0b">
            <img src ="chair.jpg" width ="300" height="200">
          </div>
          <div class="mycart col-sm-10 b0b">
            <strong>Product Name</strong> : Red Cardinal Chair<br>
            <strong>Cost</strong> : Rs. 650<br>
            <strong>Quantity</strong> : 1<br>
          </div>
        </div>
      </div>
  </div>
</div>
