
<div class="w3-main" style="margin-left:300px;">
 <header class="w3-container" style="padding-top:22px">
    <h5 style=" font-style: "><b> Products Lent </b></h5>
  </header>
  <div class="w3-row-padding w3-margin-bottom">
    
      <div class="w3-container w3-padding-16">
        <div class="row">
          
            <div class="p1 col-sm-2 b0b">
              <img src="hair-dryer.jpeg" width="300" height="200"> 
            </div>
            <div class="mycart col-sm-10 b0b">
              <strong>Product Name</strong> : Pink Hair Dryer<br>
              <strong>Cost</strong> : Rs. 200<br>
              <strong>Quantity</strong> : 1<br>
            </div>
          
          <div class="p1 col-sm-2 b0b">
            <img src ="csk_tshirt.jpg" width ="300" height="200">
          </div>
          <div class="mycart col-sm-10 b0b">
            <strong>Product Name</strong> : CSK T-shirt For Women<br>
            <strong>Cost</strong> : Rs. 499<br>
            <strong>Quantity</strong> : 1<br>
          </div>

         <div class="p1 col-sm-2 b0b">
            <img src ="earring.jpg" width ="300" height="200">
          </div>
          <div class="mycart col-sm-10 b0b">
            <strong>Product Name</strong> :PANASH Tassel earrings <br>
            <strong>Cost</strong> : Rs. 129<br>
            <strong>Quantity</strong> : 1<br>
          </div> 
          <div class="p1 col-sm-2 b0b">
            <img src ="heels.jpg" width ="300" height="200">
          </div>
          <div class="mycart col-sm-10 b0b">
            <strong>Product Name</strong> : Mast and Harbour Women heels(Size : 6)<br>
            <strong>Cost</strong> : Rs. 749<br>
            <strong>Quantity</strong> : 1<br>
          </div>
        </div>
      </div>
  </div>
</div>

