<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">Accessories</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Furniture</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Clothes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Footwear</a>
    </li>
        <li class="nav-item">
      <a class="nav-link" href="#">Electronics</a>
    </li>
        <li class="nav-item">
      <a class="nav-link" href="#">Appliances</a>
    </li>
        <li class="nav-item">
      <a class="nav-link" href="#">Books</a>
    </li>
        <li class="nav-item">
      <a class="nav-link" href="#">Fitness</a>
    </li>
        <li class="nav-item">
      <a class="nav-link" href="#">Vehicles</a>
    </li>
    
        <li class="nav-item">
      <a class="nav-link" href="#">Backpacks</a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
	
<br>
	<div class="row">
	{{#each Products}}
  <div class="prod-display col-10">
      <div class="gallery col-xs-12">   
       <a target="_blank" href="hair-dryer.jpeg">
    <img src="hair-dryer.jpeg" alt="Pink Hair Dryer" width="300" height="200" class="img-fluid">
  </a>
  <div class="desc">
  	<b>{{this.ProductName}}</b> 
  	<br/> 
  	Price: Rs. {{this.Price}}
  	<br/>
  	<a href="/prodDesc"><button type="button" class="btn btn-success btn-sm btn-block"><i class="fa fa-shopping-cart"></i>Add To Cart</button></a>
    <button type="button" class="btn btn-light btn-sm btn-block"><i class="fa fa-heart"></i>Add To Wishlist</button>
  </div>
  </div>
	</div>
  {{/each}}
	<div class="cat-filters col-lg-2 col-xs-12">
		<p><strong><center>Subcategories and Filters</center></strong></p>
	 <div id="accordion">
    <div class="card">
      <div class="card-header">
        <a class="card-link" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Subcategories
        </a>
      </div>
      <div id="collapseOne" class="collapse">
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
        Filters
      </a>
      </div>
      <div id="collapseTwo" class="collapse">
        <div class="card-body">
           <form>
    <div class="form-check">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" value="">Price: Low to high
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" value="">Highest Ratings First
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" value="">Fastest Delivery Time
      </label>
    </div>
  </form>
        </div>
      </div>
    </div>
  </div> 
	</div>
	</div>
</div>
<br>