<!DOCTYPE html>
<html>
<head>
	<title>Upload Item</title>
	<link rel="stylesheet" type="text/css" href="upload_item.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<div class="container-fluid">
	<div class="card col-md-8">
		<ul class="list-group list-group-flush">
		<div class="card-body">
			<h4 class="card-title">Upload An Item</h4>
			<br>
	<form class="needs-validation" novalidate>
		
			<li class="list-group-item">
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="validationCustom01">Item Name*</label>
      <input type="text" class="form-control" id="validationCustom01" placeholder="Item name" required>
      <div class="invalid-feedback">
        Please fill the item's name
      </div>
    </div>
  </div>

    <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="validationCustom02">Item Description*</label>
      <textarea class="form-control" rows="5" id="validationCustom02" placeholder="Enter Product Description" required></textarea>
       <div class="invalid-feedback">
        Please add a Product Description
      </div>
    </div>
  </div>
  


  <div class="form-row">
  	<div class="col-md-6 mb-3">
      <label for="validationCustom03">Category*</label>
      <select class="form-control" id="sel1" required>
      	<option value="" selected disabled>Please select</option>
    <option>Home Appliances</option>
    <option>Books</option>
    <option>Clothes</option>
    <option>Transport and Vehicles</option>
    <option>Fitness</option>
    <option>Furniture</option>
    <option>Electronics</option>
    <option>Accessories and Jewellery</option>
    <option>Household Utilities</option>
    <option>Luggage and Backpacks</option>
    <option>Sports and Hobbies</option>
    <option>Footwear</option>
    </select>
      <div class="invalid-feedback">
        Select a Category
      </div>
    </div>
</div>
<br>

<label for="validationCustom04">Upload Pictures</label>
<div class="form-row">
	<div class="col-md-4 mb-3">
      <input id="filebutton" name="filebutton" class="input-file" type="file">
    </div>
    <div class="col-md-4 mb-3">
    	 <input id="filebutton" name="filebutton" class="input-file" type="file">
    </div>
    <div class="col-md-4 mb-3">
    	 <input id="filebutton" name="filebutton" class="input-file" type="file">
    </div>
</div>

  <div class="form-row">
    <div class="col-md-3 mb-3">
      <label for="validationCustom05">From Date*</label>
      <input type="date" class="form-control" id="validationCustom05" required>
      <div class="invalid-feedback">
        Choose the From Date
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <label for="validationCustom06">To Date*</label>
      <input type="date" class="form-control" id="validationCustom06" required>
      <div class="invalid-feedback">
        Choose the to Date
      </div>
    </div>
  </div>
  </li>

  <li class="list-group-item">
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="validationCustom07">Name*</label>
      <input type="text" class="form-control" id="validationCustom07" placeholder="Name" required>
      <div class="invalid-feedback">
        Please fill your Name
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="validationCustom08">Phone*</label>
      <input type="text" class="form-control" id="validationCustom08" placeholder="Phone" required>
      <div class="invalid-feedback">
        Please fill your Phone number
      </div>
    </div>
  </div>


  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
      <label class="form-check-label" for="invalidCheck">
        Agree to terms and conditions
      </label>
      <div class="invalid-feedback">
        You must agree before submitting.
      </div>
    </div>
  </div>
  <button class="btn btn-primary" type="submit">Upload Item</button>
</form>

<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>
		</div>
		</li>
		</ul>
	</div>
</div>
</body>
</html>