.w3-sidebar a {font-family: "Roboto", sans-serif}
body,h1,h2,h3,h4,h5,h6,.w3-wide {font-family: "Montserrat", sans-serif;  }

.w3-main{
	margin-left:300px;
	
	/*background-color: #FDF2E9*/
}

.w3-container img{
  width: 10px;
  height: 75px;
  position: left;
  margin-top: 6px;
  padding-bottom: 10px; 
}


textarea{ 
border:none;
box-shadow:1px 1px 10px 5px rgba(1,1,1,0.2);
transition: 0.6s ease;
}

button[type=submit]{
	align-self: center;
	background-color:#7D3C98 ;
	color: white ;
	border: none;
    padding: 10px 20px;
    margin: 4px 2px;
    }
input[type=text]{
	border:none;
	box-shadow:1px 1px 10px 5px rgba(1,1,1,0.2);
	transition: 0.6s ease;
}

  .b0b{
	border: 0px solid black;
}
.mycart{
	padding-left: 16px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
}

.p1 img{
	width: 70;
	height: 100;
}

.w3-half img{
	height: 200px;
	width: 350px;
}